<html>
  <body>
    <h1>All Customers</h1>

    <hr/>
    <h2>Client ID</h2>
    <pre><%= @client_id %></pre>

    <hr/>
    <h2>User</h2>
    <pre><%= @user.to_json %></pre>

    <hr/>
    <h2>Store</h2>
    <pre><%= @store.to_json %></pre>

	<hr>
	
	<h2>Customers</h2>
	<pre><%= @customers %></pre>

  </body>
</html>