<html>
  <body>
    <h1>Welcome <%= @user.email %>!</h1>
    <p>Ayee</p>

    <hr/>
    <h2>Client ID</h2>
    <pre><%= @client_id %></pre>

    <hr/>
    <h2>User</h2>
    <pre><%= @user.to_json %></pre>

	<hr>
	
	<h2>Orders</h2>
	<pre><%= @orders %></pre>

  </body>
</html>